.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav_left {
  display: flex;
  align-items: center;
}
.nav_logo_img {
  width: 30px;
  margin-right: 10px;
}
.nav_links {
  display: flex;
  gap: 25px;
  list-style: none;
}
.nav_links a {
  display: flex;
  gap: 15px;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}
.nav_links a:hover {
  color: #8B1A32;
}
.nav_actions {
  display: flex;
  gap: 15px;
}
.nav_actions .btn_apply,
.nav_actions .btn_signin {
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.btn_apply {
  background-color: #8B1A32;
  color: #fff;
  padding: 10px 20px;
  transition: 0.3s;
}
.btn_apply:hover {
  background-color: #be2c4c;
}
.nav_actions .btn_signin {
  color: #8B1A32;
  background-color: transparent;
  font-weight: bold;
  transition: 0.3s;
}
.nav_actions .btn_signin:hover {
  padding: 5px 15px;
  background-color: #8B1A32;
  color: #fff;
}

/* Responsive for smaller screens */
@media (max-width: 1024px) {
  .nav {
    padding: 15px 40px;
  }
  .nav_links {
    gap: 15px;
  }
  .nav_actions {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
  }
  .nav_left {
    width: 100%;
  }
  .nav_links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }
  .nav_actions {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .nav_logo_img {
    width: 30px;
  }
  .btn_apply, .nav_actions .btn_signin {
    padding: 8px 15px;
    font-size: 14px;
  }
}
