.apply__eduGlobe {
  padding: 60px 80px;
    background-color: #FFF5F2;
}
.apply__eduGlobe_wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
/* ===== Left Content ===== */
.apply__eduGlobe_iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.apply__eduGlobe_icon {
  background-color: #6e0d251a;
  padding: 20px;
  width: 80px;
  border-radius: 30%;
}
.apply__eduGlobe_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apply__eduGlobe_title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}
.apply__eduGlobe_description {
  font-size: 15px;
  color: #6B7280;
  line-height: 1.6;
}
/* ===== Button ===== */
.apply__eduGlobe_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 26px;
  border-radius: 12px;
  background-color: #8B1538;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.apply__eduGlobe_btn:hover {
  background-color: #6E0D25;
}
.apply__eduGlobe_btn_icon {
  width: 20px;
  height: auto;
}

/* ===== Responsive ===== */
@media (max-width: 900px) {
  .apply__eduGlobe_wrapper {
    flex-direction: column;
    text-align: center;
    padding: 40px 25px;
  }
  .apply__eduGlobe_iconBox {
    flex-direction: column;
  }
  .apply__eduGlobe_title {
    font-size: 1.8rem;
  }
}
/* Mobile */
@media (max-width: 600px) {
  .apply__eduGlobe_wrapper {
    padding: 35px 20px;
  }
  .apply__eduGlobe_icon {
    width: 70px;
  }
  .apply__eduGlobe_title {
    font-size: 1rem;
  }
  .apply__eduGlobe_description {
    font-size: 0.9rem;
  }
  .apply__eduGlobe_btn {
    width: 100%;
    justify-content: center;
    padding: 12px 18px;
    font-size: 15px;
  }
}
